# Windows / temporaires
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# PowerShell / temp
*.tmp
*.temp
*.log
*.bak
*.backup

# Téléchargements UUP
UUPs*/
UUPs*.zip
*.aria2

# Dossiers / fichiers temporaires Chocolatey
*.nupkg
chocolatey\*.nupkg
choco*.log
chocolatey\lib\*
chocolatey\*.nupkg.sha256

# Dossiers perso / sensibles
.env
secrets/
api-key.txt

# Éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Artefacts Chocolatey / tests package
FilesSnapshot.xml
Install.txt
_Summary.md
digest.txt

