# Windows / temporaires
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# PowerShell / temp
*.tmp
*.temp
*.log
*.bak

# Téléchargements UUP
UUPs*/
UUPs*.zip
*.aria2

# Chocolatey / builds
*.nupkg
chocolatey\*.nupkg

# Dossiers perso / sensibles
.env
secrets/
api-key.txt

# Éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace